<div id="login">
  <div class="wrap">
    <div class="title">
      登录
    </div>
    <div class="login-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="formData">
        <mat-form-field class="account">
          <input matInput formControlName="account" placeholder="请输入账号"/>
          <mat-error *ngIf="formData.controls.account.hasError('required')">
            请输入账号
          </mat-error>
        </mat-form-field>
        <mat-form-field class="password">
          <input matInput formControlName="password" placeholder="请输入密码"/>
          <mat-error *ngIf="formData.controls.password.hasError('required')">
            请输入密码
          </mat-error>
        </mat-form-field>
        <button type="submit">登录</button>
      </form>
    </div>
  </div>
</div>
