<div id="app">
  <div class="wrap">
    <div class="header">
      <mat-toolbar class="nav-bar" color="primary">
        <div class="left">
          <div class="logo">
            <mat-icon>code</mat-icon>
          </div>
          <div class="title">
            作业提交系统
          </div>
        </div>
        <div class="right">
          <div class="account">
            <mat-icon>account_circle</mat-icon>
          </div>
        </div>
      </mat-toolbar>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <p>Copyright  ©2021</p>
    </div>
  </div>

</div>
